<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Include any CSS files or libraries here -->
</head>
<body>

    {{> header}} <!-- Include the header partial -->
    
    {{{body}}}

    {{> footer}}
    <!-- Include any scripts or libraries here -->
</body>
</html>
