{{!< layouts/main }}

<div class="login-container">
    <h2>{{body.create}}</h2>
    <form class="login-form" action="/login" method="post">
        <label for="phone">{{body.phone}}</label>
        <input type="phone" id="phone" name="nmr" required>

        <label for="password">Password:</label>
        <input type="password" id="mdp" name="mdp" required>

        <button type="submit">Login</button>
    </form>
</div>
