{{!< layouts/main }}

<div class="login-container">
    <h2>Login to Your Account</h2>
    <form class="login-form" action="/login" method="post">
        <label for="phone">Phone:</label>
        <input type="tel" id="nmr" name="nmr" required>

        <label for="password">Password:</label>
        <input type="password" id="mdp" name="mdp" required>

        <button type="submit">Login</button>
    </form>
</div>
