<footer class="footer">
    <div class="container">
        <div class="app-info">
            <p>Chou App</p>
            <p>Version 1.0</p>
            <p>A simple app for Signup & Login</p>
        </div>
        <div class="container">
            <div class="contact-info">
                <p>Abdelhadi</p>
                <p>Email: ja_hadji@esi.dz</p>
                <p>Phone: 0540 93 26 31</p>
            </div>
            <div class="contact-info">
                <p>Massinissa</p>
                <p>Email: hm_siahmed@esi.dz</p>
                <p>Phone: 0674 07 39 25</p>
            </div>
        </div>    
    </div>
    <div class="copyright">
        <p>&copy; {{currentYear}} Chou App</p>
    </div>
</footer>
