<header class="header">
    <div class="container">
        <a href="/" class="logo">{{heade.chou}}</a>
        
        <div class="header-buttons">
            {{#if isSignupPage}}
                <button onclick="location.href='/login'">Login</button>
            {{else}}
                <button onclick="location.href='/signup'">Sign Up</button>
            {{/if}}
        </div>
    </div>
</header>
