<header class="header">
    <div class="container">
        <a href="/" class="logo">{{heade}}</a>
        <select onchange="functChange()">
            <option value="ar">arabic</option>
            <option value="fr">frensh</option>
            <option value="en">english</option>
        </select>
        <div class="header-buttons">
            {{#if isSignupPage}}
                <button onclick="location.href='/login'">Login</button>
            {{else}}
                <button onclick="location.href='/signup'">Sign Up</button>
            {{/if}}
        </div>
    </div>
</header>


<script>
    functChange(){
        document.cookie = "language=" + this.value + "; path=/";
    }
</script>