<header class="header">
    <div class="container">
        <a href="/" class="logo">Chou</a>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
            </ul>
        </nav>
        <div class="header-buttons">
            {{#if isSignupPage}}
                <button onclick="location.href='/login'">Login</button>
            {{else}}
                <button onclick="location.href='/signup'">Sign Up</button>
            {{/if}}
        </div>
    </div>
</header>
